
/* exibe startups, deixa em colunas  */
.startup-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 startups por linha */
    gap: 16px; /* Espaço entre os cards */
  }

  /* Exemplo de estilo alternado usando nth-child */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

  /* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* deixa o footer sempre no fim */

/* footer {
    margin-top: auto;
} */